[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
cowsay = "*"
example = {file = "https://github.com/cisagov/skeleton-python-library/archive/v0.1.0.tar.gz"}
